{{ define "main" }}
  <article class="theme">
    {{ .Content }}
    {{ range .Params.contacts }}
      <h2>{{ .title }}</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-lg-7">
          {{ .text | markdownify }}

          {{ with .calendly }}
            <p class="fr-my-5w"><b>Prendre rendez-vous en ligne</b></p>
            <div  class="calendly-inline-widget" style="min-width:320px;height:700px;" data-auto-load="false">
              <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
              <script>
                Calendly.initInlineWidget({
                  url: 'https://calendly.com/{{ . }}?hide_event_type_details=1&hide_gdpr_banner=1'
                });
              </script>
            </div>
          {{ end }}
        </div>
        <div class="fr-col-offset-lg-1 fr-col-lg-4">
            {{ with .address }}
              <p><b>Adresse</b></p>
              <p>{{ . | safeHTML }}</p>
            {{ end }}
            {{ with .tel }}
            <p><b>Téléphone</b></p>
              <p><a href="tel:{{ . }}">{{ . }}</a></p>
            {{ end }}
            {{ with .mail }}
              <p><b>Mail</b></p>
              <p><a href="mailto:{{ . }}">{{ . }}</a></p>
            {{ end }}
          </div>
        </div>
        <hr class="fr-my-5w">
      {{ end }}
  </article>
{{ end }}
