<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>
      {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
    </title>
    {{ partial "css.html" }}
  </head>
  <body>
    {{ partial "header.html" }}
    <main role="main" id="content">
      <div class="fr-container">
        <h1 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">{{ .Title }}</h1>
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ partial "footer.html" }}
    {{ partial "js.html" }}
  </body>
</html>
