<footer role="contentinfo" id="footer" class="fr-footer fr-mt-12w">
  <!--
  <div class="fr-footer__top">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
          <h3 class="fr-footer__top-cat">Le DSFR</h3>
          <ul class="fr-footer__top-list">
            <li><a target="_blank" title="Nous contacter - nouvelle fenêtre" href="https://gouvfr.atlassian.net/servicedesk/customer/portals" class="fr-footer__top-link">Nous contacter</a></li>
            <li><a href="/centre-de-support" class="fr-footer__top-link">Support</a></li>
            <li><a href="/communaute" class="fr-footer__top-link">Communauté</a></li>
          </ul>
        </div>
        <div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
          <h3 class="fr-footer__top-cat">Liens utiles</h3> 
          <ul class="fr-footer__top-list">
            <li><a target="_blank" title="Charte de l'État - nouvelle fenêtre" href="https://www.gouvernement.fr/marque-Etat" class="fr-footer__top-link">Charte de l'État</a></li>
            <li><a href="/comment-utiliser-le-dsfr/perimetre-d-application-du-dsfr#obligatoire" class="fr-footer__top-link">Obtenir l'agrément</a></li> 
            <li><a href="/a-propos/versions-du-dsfr/version-courante" class="fr-footer__top-link">Notes de version</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l’accueil du site - République Française">
          <p class="fr-logo">
            Préfet
            <br>de la Haute-
            <br>Garonne
          </p>
        </a>
      </div> 
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          Ce site est un prototype, réalisé avec le soutien du fonds de modernisation de l'administration territoriale de l’État.
        </p>
      </div>
    </div> 
    <div class="fr-footer__bottom">
      <!--
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item"><a href="/accessibilite" class="fr-footer__bottom-link">Accessibilité : totalement conforme</a></li> 
        <li class="fr-footer__bottom-item"><a href="/cgu" class="fr-footer__bottom-link">Conditions générales d’utilisation</a></li> 
        <li class="fr-footer__bottom-item"><a href="/mentions-legales" class="fr-footer__bottom-link">Mentions légales</a></li> 
        <li class="fr-footer__bottom-item"><a href="/plan-du-site" class="fr-footer__bottom-link">Plan du site</a></li> 
      </ul> 
      -->
      <div class="fr-footer__bottom-copy">
        <p>
          Sauf mention contraire, tous les contenus de ce site sont sous
          <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" title="licence etalab-2.0 - nouvelle fenêtre">licence etalab-2.0</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script type="module" src="/dsfr/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/dsfr/dsfr.nomodule.min.js"></script>
